name: Ruff
on:
  pull_request

jobs:
  lint-format:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/ruff-action@v3

      - uses: astral-sh/ruff-action@v3
        with:
          version: "latest"
          args: check
          src: "./src"

      - uses: astral-sh/ruff-action@v3
        with:
          version: "latest"
          args: format
          src: "./src"